!/repositories/.gitkeep
*.crt
*.key
*.pem
.DS_Store
.bundle/
.idea
.yardoc
/.backups/
/.env
/.dmdk-install-root
/.gettext
/.gitaly-ruby-bundle
/.documodel-bundle
/.documodel-npm
/.documodel-shell-bundle
/.documodel-yarn
/.node-version
/.ruby-gemset
/.ruby-version
/.ssh/
/.vagrant/
/Procfile
/auto_devops_enabled
/auto_devops_documodel_port
/auto_devops_registry_port
/bootstrap-rails.log
/builds
/elasticsearch*
/env.runit
/dmdk-ce/**
/dmdk-config.mk
/dmdk-ee/**
/dmdk.yml
/gem/*.gem
/gettext.log
/gitaly/
/documodel-development-kit/**
/documodel-docs
/documodel-elasticsearch-indexer
/documodel-pages/bin
/documodel-pages/pkg
/documodel-pages/src
/documodel-runner-config.toml
/documodel-shell
/documodel-shell/
/documodel-workhorse
/documodel-workhorse/.cache
/documodel-workhorse/config.toml
/documodel/
/documodel_pages_port
/google_oauth_client_id
/google_oauth_client_secret
/grafana/
/host
/hostname
/https_enabled
/influxdb/
/jaeger-artifacts/
/jaeger/
/log/
/mattermost
/minio
/nginx/client_body_temp
/nginx/conf/nginx.conf
/nginx/fastcgi_temp
/nginx/logs
/nginx/proxy_temp
/nginx/scgi_temp
/nginx/tmp
/nginx/uwsgi_temp
/object_store_enabled
/object_store_port
/openssh/*.pub
/openssh/*_key
/openssh/sshd_config
/port
/postgresql-geo/
/postgresql-primary
/postgresql-replica/.s.*
/postgresql-replica/data
/postgresql/.s.*
/postgresql/data
/postgresql_geo_port
/postgresql_port
/redis/*.conf
/registry/config.yml
/registry/storage/
/registry_enabled
/registry_external_port
/registry_host
/registry_image
/registry_port
/relative_url_root
/repositories
/services/
/sv/
/webpack_port
